body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-color: #f2f2f3;
    
    
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    
    
}

/*header {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav li {
    display: inline;
    padding: 5px, 10px;
    margin-left: 10px;
    background: #f3f3f3;
    line-height: normal;
    padding-bottom: 10px;
    
}*/

/*ul {
    padding-bottom: 20px;
}

ul li { 
    padding: 10px 0px; 
    
}*/

.btn {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: green;
    
    
}

.fa-download {
    margin-left: 5px;
    height: 100px;
    width: 100px;
    border-radius: 80px;
}

#parent button a:hover {
    color: red;
}


#parent button a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}


/*nav button {
    background-color: DodgerBlue; /* Blue background */
    /*border: none; /* Remove borders */
    /*color: white; /* White text */
    /*padding: 12px 16px; /* Some padding */
    /*font-size: 16px; /* Set a font size */
    /*cursor: pointer; /* Mouse pointer on hover */
/*}*/

#parent p {
    color: darkgrey;
}

#parent ul li {
    list-style-type: none;
    padding-bottom: 20px;
}

.fa-glasses {
    color: white;
    position: absolute;
    top: 280px;
    left: 60px;
    font-size: 1.2rem;
    background: green;
    border-radius: 50px;
    padding: 5px;
}


.glyphicon {
    color: green;
    padding-right: 10px;
}

.logo {
    width: 200px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
}


.logo_2 {
    background-color: green;
    height: 30px;
    width: 40px;
    position: absolute; 
    right: 70%;
    margin-top: 205px;
    border-radius: 20px;
}

.bg_header_color {
    background-color: white;
    margin-left: 0px;
}

.bg_content_color {
    background-color: white;
}

#parent {
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/*.fa {
    text-align: right;
    width: 32px;
    height: 32px;
    padding-right: 12px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: green;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}*/

.fa {
    width: 32px;
    height: 20px;
    font-size: 15px;
    line-height: 7px;
    color: green;
    background: white;
    text-align: center;
    border-radius: 80px;
    padding-top: 7px;
}

.fa:hover {
    background: red;
    
}

.social {
    display: inline-block !important;
    float: right !important;
}

/* Navigation */

.navbar {
    margin-top: 21px;
    background-color: green;
    border: none;
    
}


.content {
    border-radius: 10px;
    padding: 10px;
    height: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

article h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: capitalize;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #252628;
    border-radius: 10px;
    color: white;
}

footer p {
    float: right;
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

.footerlogo {
    width: 100px;
    height: 40px;
    margin-top: 0px;
    float: left;
}

.fa-at {
    background-color: #252628;
    color: green;
    height: 30px;
    width: 30px;
    margin-right: 0px;
    padding-right: 0px;
}


.w3-card-4 {
    margin-top: 0px;
    margin-left: 0px;
}
.card_2 {
    height: 180px;
    width: 300px;
    padding-bottom: 20px;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 25px;
  margin-bottom: 50px;
}


.column_2 {
    float: left;
    width: 40%;
    padding: 0 0px;
    margin-bottom: 50px;
    margin-right: 60px;
    margin-left: 10px;
}
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 20px;
  text-shadow: 0 0 3px green;
  
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

article h3 {
    margin-bottom: 30px;
}

.hr-line {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    border-bottom: 4px solid #f2f2f3;
}

.hr-line_resume {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    border-bottom: 4px solid #f2f2f3;
}


.progress {
    position: relative;
    height: 15px;
    margin-bottom: 10px;
    margin-top: 0px;
    
}


.progress-section {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.column_2 p {
    margin-bottom: 0px;
}

.w3-right {
    font-size: 13px;
}

.progress-section h4 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.contact-form {
    margin-top: 50px;
}

.contact-form h4 {
    margin-bottom: 40px;
}


.contact-info {
    margin-top: 50px;
}

.contact-info h4 {
    margin-bottom: 45px;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-info i {
    width: 40px;
    height: 40px;
}


.btn-default {
    margin: 20px 120px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.contact_map {
    margin-left:40px;
    margin-bottom:30px;
}

.mapouter {
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:800px;
    margin-left:20px; 
    margin-right:50px;
}


.publication {
    margin-left: 20px;
    margin-top: 20px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    margin-top: 50px;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0; 
}

.blog-card a {
    color: inherit; 
}

.blog-card a:hover {
    color: #5ad67d; 
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; 
}

.blog-card .details, .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem; 
}

.blog-card .details a {
    text-decoration: dotted underline; 
}

.blog-card .details ul li {
    display: inline-block; 
}

.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007"; 
}

.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133"; 
}

.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px; 
}

.blog-card .details .tags li {
      margin-right: 2px; 
}

.blog-card .details .tags li:first-child {
    margin-left: -4px; 
}

.blog-card .description {
    padding: 1.5rem;
    background: #fff;
    position: relative;
    z-index: 1; 
}
    
.blog-card .description h1,
    .blog-card .description h2 {
     font-family: Poppins, sans-serif; 
    }

.blog-card .description h1 {
    margin-top: 0px;
    line-height: 1;
    margin: 0;
    font-size: 1.3rem; 
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 1px; 
}

.blog-card .description .read-more {
      text-align: right; 
}

.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative; 
}

.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1; 
}

.blog-card p {
    position: relative;
    margin: .5rem 0 0; 
}

.blog-card p:first-of-type {
      margin-top: 1.25rem; 
}

.blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #5ad67d;
        width: 60px;
        top: -1.5rem;
        border-radius: 3px; 
}

.blog-card:hover .details {
    left: 0%;
}
  
  
@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px; 
    }
    
    .blog-card .meta {
        flex-basis: 40%;
        height: auto; 
    }
    
    .blog-card .description {
        flex-basis: 60%; 
    }
    
    .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
    }
    
    .blog-card.alt {
        flex-direction: row-reverse; 
    }
    
    .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); 
    }
    
    .blog-card.alt .details {
          padding-left: 25px; 
    } 
}

/*# sourceMappingURL=example.css.map */


/*--------------------------------------------Work History*/

ul.timeline {
    list-style-type: none;
    position: relative;
}

.timeline p {
    font-size: 13px;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 4px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #22c0e8;
    left: 24px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

.timeline a {
    padding-right: 10px;
    font-size: 15px;
}



.fa-graduation-cap, .fa-suitcase {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 10px;
    padding-top: 15px;
    color: white;
    background-color: green;
    text-align: center;
    font-size: 20px;
}

.h3_resume {
    margin-top: 20px;
    margin-left: 20px;
}

.card_logo {
    height: 80px;
    width: 110px;
    padding-bottom: 10px;
    border-radius: 50%;
}


/* Float four columns side by side */
.column_logo {
  float: left;
  width: 20%;
  padding: 0 0px;
  margin-bottom: 50px;
  margin-right:0px;
  padding-right: 0px;
  
}


.technical_skill {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}


.row a {
    font-size: 13px;
}

.row_resume {
    margin-left: 80px;
    margin-right: 0px;
}

.home-margin{
    margin-left: 40px;
    margin-right: 30px;
}